<div class="main">
  <div class="container">

    <div class="instructions">
        <div class="container">
          <p>Transform any sentence into images. Because words are boring.</p>
        </div>
    </div>


  </div>
</div>