.header {
  background: #2199e8;
  transition: background .65s ease;
  padding:40px;
}
.header:hover{
//#02C39A I like this color
background-color: #9AE7D7;
transition: background .65s ease;
}

.nav li {
  display: inline-block;
  padding: 16px;
  float: right;
}
.user-name{
  border-radius: 4px;
  align: right;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  width: 100px;
  background: #02C39A;
  padding: 10px 20px 10px 20px;
  border: solid #FFFFFF 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .65s ease;
}
.nbtn {
  border-radius: 4px;
  align: right;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  width: 100px;
  background: #02C39A;
  padding: 10px 20px 10px 20px;
  border: solid #FFFFFF 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .65s ease;
}

.nav li a:hover {
  background-color: #2199e8;
  color: #01624D;
  border: solid #01624D 2px;
  transition: background .65s ease;
}

.instructions {
  padding-top: 20px;
  padding-bottom: 2px;
  color: #01624D;
  font-family: Arial;
  float: left;
  font-size: 16px;
}
