
.button-submit{
  color: #ffffff;
  background-color: #02C39A;
  border-radius: 4px;
  font-family: Arial;
  text-transform: uppercase;
  text-align: center;
}

.button-submit:hover {
  background: #2199e8;
  transition: background .65s ease;
  color:#fff;
}